nav {
  /* border: 2px solid; */
  width: 100%;
  padding: 0px 50px;
}

nav ul {
  /* border: 2px solid red; */

  display: flex;
  align-items: center;
  padding: 20px;
}

li {
  /* border: 2px solid blue; */
}

nav ul li:first-child {
  margin-right: auto;
}
nav ul li:last-child {
  margin-left: auto;
}

nav ul li:nth-child(2) {
  width: 22%;
  min-width: 250px;
  display: flex;
  justify-content: space-between;
  margin: 0px 0px 0px 13%;
}
